---
permalink: productList.html
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

  {% include header2.html %}



<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC54h_ll8h6f6P4JYTmoUg9T02f6hLAWhA",
    authDomain: "webcompufiber.firebaseapp.com",
    databaseURL: "https://webcompufiber.firebaseio.com",
    projectId: "webcompufiber",
    storageBucket: "",
    messagingSenderId: "61563037846"
  };
  firebase.initializeApp(config);
  var defaultDatabase = defaultApp.database();
  var dbRef = firebase.database();
  var producList = dbRef.ref('Productos');

</script>
</body>

</html>
