<header style="background-image:none; background-color: coral;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color: coral;">COMPUFIBER</h1>
            <hr>
            <h2>Lista de Productos</h2>
            <a class="btn btn-primary" href="index.html">Volver </a>
              <table id="example" class="table table-bordered" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                              <th>Categoria</th>
                              <th>Producto</th>
                              <th>Precio</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>Categoria</th>
                              <th>Producto</th>
                              <th>Precio</th>
                          </tr>
                      </tfoot>
                      <tbody>                
                      </tbody>
                  </table>


        </div>
    </div>
</header>
